@import url("./font.css");
@import url("./header.css");
@import url("./main.css");
@import url("./var.css");
@import url("./home.css");
@import url("./login.css");
@import url("./footer.css");
@import url("./modal_stream_view.css");
@import url("./video_stream_view.css");
@import url("./modal_profile.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

.cmn_btn {
  font-family: var(--Poppins-Medium);
  font-size: 18px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--primaryColor);
  border-radius: 20px;
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
  position: relative;
}

.cmn_btn span {
  display: inline-block;
  width: 24px;
  min-width: 24px;
  height: 24px;
}

.cmn_btn span svg {
  width: 100%;
  height: 100%;
}

.cmn_btn span svg path {
  fill: var(--white);
}

.cmn_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--white);
  z-index: -1;
  transition: width 0.4s ease;
}

.cmn_btn:hover::before {
  width: 100%;
}

.cmn_btn:hover {
  color: var(--primaryColor);
}
.cmn_btn:hover span svg path {
  fill: var(--primaryColor);
}

.cmn_btn_2 {
  background-color: var(--white);
  color: var(--primaryColor);
}

.cmn_btn_2 span svg path {
  fill: var(--primaryColor);
}

.cmn_btn_2::before {
  background-color: var(--primaryColor);
}

.cmn_btn_2:hover {
  color: var(--white);
}
.cmn_btn_2:hover span svg path {
  fill: var(--white);
}

.p-100 {
  padding: 100px 0px;
}

.section-title {
  margin-bottom: 0px;
  font-family: var(--Poppins-SemiBold);
  font-size: 38px;
  line-height: 45.6px;
  color: var(--secondaryColor);
}

/* custom-dropdwon-menu Start */

.custom-dropdwon .custom-dropdwon-menu {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(44px);
  padding: 18px 15px;
  border-radius: 12px;
}

.custom-dropdwon .custom-dropdwon-menu li {
  margin-bottom: 15px;
}

.custom-dropdwon .custom-dropdwon-menu li:last-child {
  margin-bottom: 0px;
}

.custom-dropdwon .custom-dropdwon-menu .dropdown-item {
  padding: 0;
  color: var(--white);
  font-size: 14px;
  font-family: var(--Poppins-Medium);
  line-height: 16.8px;
}

.custom-dropdwon .custom-dropdwon-menu .dropdown-item:hover {
  color: var(--white);
  background-color: transparent;
}

.custom-dropdwon .custom-dropdwon-menu .dropdown-item span{
  display: inline-block;
  width: 100%;
  max-width: 26px;
  min-width: 26px;
  height: 26px;
  margin-right: 8px;
}

.custom-dropdwon .custom-dropdwon-menu .dropdown-item i{
  margin-right: 8px;
}

/* custom-dropdwon-menu End */

/* ===Media-quary=== */

@media only screen and (max-width: 1399px) {
}

@media only screen and (max-width: 1199px) {
  .section-title {
    font-size: 35px;
    line-height: 35.6px;
  }
}
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
  .section-title {
    font-size: 32px;
    line-height: 32.6px;
  }
}

@media only screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
    line-height: 30.6px;
  }
}

@media only screen and (max-width: 575px) {
  .section-title {
    font-size: 26px;
    line-height: 26.6px;
  }
}
