.header-coin-wrp {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #efefef;
  border-radius: 13px;
  padding: 5px 10px;
  margin-left: 5px;
}
.header-coin-wrp img {
  width: 100%;
  max-width: 18px;
  min-width: 18px;
  height: 18px;
}

.header-coin-wrp p {
  font-family: var(--Poppins-Medium);
  font-size: 14px;
  line-height: 16px;
  color: var(--secondaryColor);
  margin-bottom: 0px;
}

.header-coin-wrp button {
  border: 1px solid var(--secondaryColor);
  background-color: var(--secondaryColor);
  width: 100%;
  max-width: 25px;
  min-width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border-radius: 13px;
  font-size: 12px;
  margin-left: 5px;
}

.header-modal-profile button.dropdown-toggle {
  border: none;
  background-color: transparent;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-modal-profile button.dropdown-toggle img {
  width: 100%;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.header-modal-profile button.dropdown-toggle span {
  width: 10px;
  height: 10px;
  background-color: #46d31b;
  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  right: 5px;
}

.header-modal-profile button.dropdown-toggle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header-modal-profile .dropdown-toggle::after {
  display: none;
}

.header-modal-profile .dropdown-menu {
  display: unset;
  display: none;
  height: auto;
}

.header-modal-profile .dropdown-menu.show {
  display: block;
}

.modal_streaming_fans {
  padding-top: 150px;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.streaming_fans_card_Wrp {
  margin-top: 20px !important;
}

.modal_streaming_fans .common_title_wrp h2 {
  font-size: 38px;
  text-align: center;
}

.streaming_fans_card:hover .streaming_fans_card_main_img img {
  scale: 1.2;
}
.streaming_fans_card_main_img {
  width: 100%;
  /* max-width: 290px; */
  aspect-ratio: 293/328;
  overflow: hidden;
  border-radius: 20px;
}

.streaming_fans_card_main_img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.3s;
}

.streaming_fans_card_content {
  background-color: #ffe8ea;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: calc(100% - 10%);
  margin: 0px auto;
  margin-top: -35px;
  z-index: 2;
  position: relative;
}

.streaming_fans_card_content_img {
  width: 100%;
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--white);
  margin: 0px auto;
  margin-top: -45px;
  margin-bottom: 5px;
  position: relative;
}

.streaming_fans_card_content_img span {
  width: 12px;
  height: 12px;
  background-color: #46d31b;
  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  right: 5px;
}

.streaming_fans_card_content_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.streaming_fans_card_content h3 {
  font-family: var(--Poppins-Medium);
  font-size: 16px;
  line-height: normal;
  color: var(--secondaryColor);
  margin: 0 auto 2px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 172.14px;
}

.streaming_fans_card_content p {
  font-family: var(--Poppins-Medium);
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 0px;
}

.streaming_fans_card_content p img {
  width: 100%;
  max-width: 18px;
  height: 18px;
}

.modal_top_fans_main_img {
  aspect-ratio: 97/84;
}

.modal_top_fans_main_img img {
  width: 100%;
  height: 100%;
}

.modal_top_fans_main_content {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f2f2f2;
  padding: 7px 10px;
}

.modal_top_fans_main_content_img {
  width: 100%;
  max-width: 38px;
  min-width: 38px;
  height: 38px;
  border-radius: 50%;
}

.modal_top_fans_main_content_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.modal_top_fans_main_content h3 {
  font-family: var(--Poppins-Medium);
  font-size: 16px;
  line-height: normal;
  color: var(--secondaryColor);
  margin-bottom: 2px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 110px;
}

.modal_top_fans_main_content p {
  font-family: var(--Poppins-Medium);
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 80%);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  margin-bottom: 0px;
}

.modal_top_fans_main_content p img {
  width: 100%;
  max-width: 18px;
  height: 18px;
}

.modal_top_fans_slider {
  margin-top: 20px;
}

.modal_top_fans_slider .swiper-slide {
  border-radius: 10px;
  overflow: hidden;
  /* max-width: 190px; */
}

.start_live_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 10px;
  z-index: 10;
  margin-top: -80px;
}

.start_live_btn button {
  font-family: var(--Poppins-Medium);
  font-size: 18px;
  line-height: 18px;
  text-transform: capitalize;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: transparent;
  background: linear-gradient(to top, #eb3349 0%, #f45c43 100%);
  border-radius: 14px;
  color: var(--white);
}

.searchShowBtn {
  cursor: pointer;
}

.searchBar-section {
  position: absolute;
  left: auto;
  right: 0px;
  top: 80%;
  width: 100%;
  max-width: 525px;
  border-radius: 13px;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  height: 0%;
  overflow: hidden;
}

.searchBar-section.active {
  top: 100%;
  opacity: 1;
  z-index: 999;
  height: 350px;
}

.searchBar-section .searchBarInput-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 13px;
  border: 0.5px solid #eb3349;
  margin: 12px 0px;
}

.searchBar-section input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10.5px 10px;
  font-size: 14px;
  font-family: var(--Poppins-Regular);
  color: var(--secondaryColor);
}

.searchBar-section span.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 18px;
  min-width: 18px;
  height: 18px;
  margin-right: 10px;
}

.searchBarUserName-section {
  padding: 12px 14px;
  background-color: var(--white);
  border: 1px solid #d9d9d9;
  border-radius: 13px;
}

.searchBarUserName-section .searchBarUserName-section-header-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 4px;
  background-color: #efefef;
  max-width: min-content;
  min-width: max-content;
  border-radius: 5px;
}

.searchBarUserName-section .searchBarUserName-section-header-label span {
  font-size: 12px;
  font-family: var(--Poppins-Regular);
  color: #737373;
  line-height: 15.8px;
}

.searchBarUserName-section .searchBarUserName-list {
  margin-top: 20px;
  display: block;
  height: auto;
  padding: 0 !important;
  max-height: 180px;
  overflow: hidden;
  overflow-y: auto;
  position: static;
  box-shadow: none;
}

.searchBarUserName-section .searchBarUserName-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.searchBarUserName-section .searchBarUserName-list li {
  margin-bottom: 12px;
  height: auto !important;
}

.searchBarUserName-section .searchBarUserName-list li:last-child {
  margin-bottom: 0px;
}

.searchBarUserName-list .searchBarUserName-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.searchBarUserName-list .searchBarUserName-card::before{
  display: none;
}

.searchBarUserName-card .profileUserNameImg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-right: 12px;
}

.profileUserNameImg .profileImg {
  width: 100%;
  max-width: 34px;
  min-width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
}

.profileUserNameImg .profileImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.profileUserNameImg h6 {
  font-size: 13px;
  font-family: var(--Poppins-Medium);
  margin: 0;
  word-break: break-all;
  color: var(--secondaryColor);
}

.searchBarUserName-card button {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  max-width: 24px;
  min-width: 24px;
  height: 24px;
}

.searchBarUserName-section .modal-btn-1 {
  display: block;
  max-width: 80px;
  margin-left: auto !important;
  margin-top: 12px !important;
  padding: 2px;
  background: transparent;
  color: var(--primaryColor);
  border-radius: 0px;
  border-bottom: 1px solid var(--primaryColor);
  transition: all 0.3s ease-in-out;
}
.searchBarUserName-section .modal-btn-1:hover {
  background: transparent;
}

.searchBarUserName-section .modal-btn-1:hover {
  color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}

@media only screen and (max-width: 1399px) {
}
@media only screen and (max-width: 1199px) {
  .modal_streaming_fans .common_title_wrp h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 991px) {
  .modal_streaming_fans .common_title_wrp h2 {
    font-size: 32px;
  }
  .modal_top_fans_main_content h3 {
    font-size: 14px;
  }
  .modal_top_fans_main_content p {
    font-size: 12px;
  }
  .modal_streaming_fans {
    padding-top: 130px;
    padding-bottom: 50px;
  }

  .modal_top_fans_main_content h3 {
    max-width: 87px;
  }
}
@media only screen and (max-width: 767px) {
  .modal_streaming_fans .common_title_wrp h2 {
    font-size: 28px;
  }
  .modal_streaming_fans {
    padding-top: 120px;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 575px) {
  .streaming_fans_card_content h3 {
    font-size: 14px;
  }
  .streaming_fans_card_content p {
    font-size: 12px;
    line-height: 16px;
  }
  .streaming_fans_card_content_img {
    max-width: 50px;
    height: 50px;
  }
  .streaming_fans_card_content_img span {
    right: 0px;
  }
  .start_live_btn button {
    font-family: var(--Poppins-Medium);
    font-size: 16px;
    line-height: 18px;
    padding: 12px 20px;
  }

  .start_live_btn button svg {
    max-width: 30px;
  }
  .header-modal-profile button.dropdown-toggle img {
    width: 100%;
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    max-height: 40px;
    border-radius: 50%;
  }
  .header-modal-profile button.dropdown-toggle span {
    bottom: 1px;
    right: 1px;
  }
  .header-coin-wrp p {
    font-size: 13px;
    line-height: 16px;
  }
  .header-coin-wrp button {
    width: 100%;
    max-width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 13px;
    font-size: 10px;
    margin-left: 5px;
  }
}
