.modalProfileSection {
  padding: 140px 0 30px;
}

.profileCard {
  border: 1px solid #e2e8f0;
  border-radius: 20px;
}

.profileCard.profile-mian-card {
  padding-block: 24px;
  box-shadow: 0 36px 36px -48px #0f0f0fcc;
  margin-bottom: 26px;
}

.profile-mian-card .profile-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.profile-mian-card .profile-card-header .profile-img {
  position: relative;
  width: 100%;
  max-width: 60px;
  min-width: 60px;
  height: 60px;
  position: relative;
}

.profile-mian-card .profile-card-header .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

  object-position: center center;
}
.profile-mian-card .profile-card-header .green-round {
  position: absolute;
  bottom: 0px;
  right: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #34c05c;
  border: 2px solid #ffffff;
}

.profile-mian-card .profile-card-body.profile-mian-card-body {
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-mian-card-body .profile-card-body-title {
  font-family: var(--Poppins-SemiBold);
  font-size: 20px;
  color: #0f172a;
  line-height: 1.4;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.profile-mian-card-body .profile-card-body-title span {
  display: inline-block;
  padding: 5px 8px;
  font-family: var(--Poppins-Bold);
  font-size: 10px;
  color: #e73080;
  border-radius: 100px;
  background: #ffeaf3;
  margin-left: 6px;
}

.profile-mian-card-body .profile-card-body-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.profile-mian-card-body
  .profile-card-body-subtitle
  .profile-mian-card-body-img {
  display: flex;
  width: 100%;
  max-width: 18px;
  min-width: 18px;
  height: 17px;
  margin-right: 3px;
}

.profile-mian-card-body-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile-mian-card-body .profile-card-body-subtitle h6 {
  margin-bottom: 0;
  font-size: 14px;
  font-family: var(--Poppins-Medium);
  color: var(--secondaryColor);
  line-height: 16.8px;
}

.profile-card-link-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
  padding-right: 0px;
}

.profile-card-link-section .profile-card-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.profile-card-link-section .profile-card-link span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 15px;
  height: 15px;
}

.profile-card-link-section .profile-card-link .text {
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  line-height: 1.7;
  color: #565656;
  margin-bottom: 0;
}

.profile-card-link-section .profile-card-link:last-child {
  margin-left: 6px;
  padding-left: 6px;
  position: relative;
}
.profile-card-link-section .profile-card-link:last-child::after {
  position: absolute;
  content: "";
  height: 12px;
  width: 2px;
  background-color: #cbd5e1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.profile-card-footer.profile-main-card-footer {
  padding: 20px 24px;
}

.profile-card-footer.profile-main-card-footer .profileInfo-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 5px;
}

.profileInfo-section .profileInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 8px;
  flex: 1 1 auto;
}
.profileInfo-section .profileInfo h6 {
  font-family: var(--Poppins-Bold);
  font-size: 18px;
  color: #0f172a;
  margin-bottom: 10px;
}

.profileInfo-section .profileInfo span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  color: #565656;
}

.profileInfo-section .profileInfo span img {
  width: 100%;
  max-width: 14px;
  height: 12px;
  margin-left: 1px;
}

.profileCard.profile-links-card {
  padding: 20px;
}

.profile-links-list {
  padding: 0;
  margin: 0;
}

.profile-links-list .profile-links-items {
  margin-bottom: 20px;
}
.profile-links-list .profile-links-items:last-child {
  margin-bottom: 0;
}

.profile-links-list .profile-links-items a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-links-list .profile-links-items a span.link-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.profile-links-list .profile-links-items a span.link-title svg {
  width: 100%;
  max-width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 11px;
}

.profile-links-list .profile-links-items a span.link-title span {
  font-family: var(--Poppins-Medium);
  font-size: 16px;
  color: var(--secondaryColor);
}

.profile-links-list .profile-links-items a .arrow-icon {
  transition: all 0.3s ease-in-out;
}

.profile-links-list .profile-links-items a:hover .arrow-icon {
  transform: translateX(5px);
}

.profileCard.profileCard-mainCard {
  padding: 20px 24px;
}

.profileCard.profileCard-mainCard .profileCard-mainCard-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileCard.profileCard-mainCard
  .profileCard-mainCard-header
  .profileCard-mainCard-header-img {
  width: 100%;
  max-width: 120px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.profileCard-mainCard-header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.profileCard-mainCard-header .EditProfileBtn {
  width: 100%;
  max-width: 153px;
  padding: 15px;
  background-color: #eb334933;
  border-radius: 14px;
  color: var(--primaryColor);
  font-family: var(--Poppins-Medium);
  font-size: 16px;
  text-align: center;
  display: block;
}

.profileCard-mainCard-body {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #f1f5f9;
}

.profileCard-mainCard-body h5 {
  font-family: var(--Poppins-SemiBold);
  font-size: 16px;
  color: var(--secondaryColor);
  margin-bottom: 5px;
}

.profileCard-mainCard-body .profile-card-link-section {
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 16px;
}

.profileCard-mainCard-body p {
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  margin-bottom: 16px;
  color: #0f172a;
}

.profileCard-mainCard-body span {
  font-family: var(--Poppins-Medium);
  font-size: 14px;
  color: #565656;
}

.profileCard-mainCard-footer .profileCard-mainCard-list {
  padding: 0;
  margin: 0;
}

.profileCard-mainCard-list .profileCard-mainCard-item {
  margin-bottom: 20px;
}

.profileCard-mainCard-list .profileCard-mainCard-item:last-child {
  margin-bottom: 20px;
}

.profileCard-mainCard-list
  .profileCard-mainCard-item
  .profileCard-mainCard-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileCard-mainCard-list
  .profileCard-mainCard-item
  .profileCard-mainCard-card
  svg {
  width: 100%;
  max-width: 16px;
  min-width: 16px;
  height: 16px;
}

.profileCard-mainCard-list
  .profileCard-mainCard-item
  .profileCard-mainCard-card
  .text {
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  color: #0f172a;
  letter-spacing: 0.2px;
  line-height: 1.7;
}

.modalProfile-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 32px;
  padding-right: 15px;
  background-color: var(--secondaryColor);
  border-radius: 16px;
  margin: 20px 0 12px;
}

.modalProfile-banner-left p {
  font-family: var(--Poppins-Regular);
  color: var(--white);
  font-size: 14px;
  margin-bottom: 0;
}

.modalProfile-banner-left h4 {
  font-family: var(--Poppins-Bold);
  font-size: 34px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.modalProfile-banner-left h4 a {
  display: inline-block;
  padding: 5px 15px;
  color: #eb3349;
  border: 1px solid #eb3349;
  border-radius: 9px;
  font-family: var(--Poppins-Medium);
  font-size: 14px;
  margin-left: 24px;
}

.modalProfile-banner-right .modalProfile-banner-img {
  width: 100%;
  max-width: 195px;
  height: auto;
  aspect-ratio: 16/9;
  margin-left: 10px;
}

.modalProfile-banner-right .modalProfile-banner-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modalGalary-info-mesg {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: var(--Poppins-Medium);
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.modalGalary-info-mesg span {
  width: 100%;
  max-width: 23px;
  min-width: 23px;
  height: 23px;
  margin-right: 7px;
}

.modalProfile-right-side-title {
  font-size: 22px;
  font-family: var(--Poppins-SemiBold);
  color: var(--secondaryColor);
  margin-bottom: 10px;
}

.modalProfile-right-side-card {
  padding: 30px 35px;
  border: 1px solid #e2e8f0;
  border-radius: 20px;
  word-break: break-all;
}

.modalProfile-Galaryright-side-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-height: 450px;
  overflow-y: auto;
}

.modalProfile-Galaryright-side-card::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.modalProfile-GalaryRight-img {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 63 / 74;
}

.modalProfile-GalaryRight-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modalProfile-GalaryRight-img .play-icon {
  position: absolute;
  top: 12px;
  right: 12px;
}

/* ==== modal Payment Section Start */

.modalProfile-paymentright-side .modalProfile-right-side-card {
  border: none;
  border-radius: 0;
  border-top: 2px dashed rgba(0, 0, 0, 0.2);
  padding-inline: 0;
  width: 100%;
}

.modalProfile-right-side.modalProfile-paymentright-side {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 220px);
}

.modalpayment-info-mesg {
  margin: 10px 0 20px;
}

.modalProfile-paymentSectionSubtitle {
  font-size: 12px;
  font-family: var(--Poppins-Regular);
  color: var(--secondaryColor);
}

.modalProfile-banner.payment-banner {
  margin-top: 0;
}

/* ==== modal Payment Section End */

/* ==== modal Follow Section Strat ==== */

.modalProfile-follow-list {
  padding: 0;
  margin: 0;
  max-height: 563px;
  overflow-y: auto;
}

.modalProfile-follow-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.modalProfile-follow-list .modalProfile-follow-item {
  margin-bottom: 10px;
}

.modalProfile-follow-list .modalProfile-follow-item:last-child {
  margin-bottom: 0px;
}

.modalProfile-follow-list .modalProfile-follow-item .modalProfile-follow-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalProfile-follow-card a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.modalProfile-follow-card a .modalProfile-follow-profile-img {
  width: 100%;
  max-width: 34px;
  min-width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
}

.modalProfile-follow-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.modalProfile-follow-card a span {
  font-size: 13px;
  font-family: var(--Poppins-Medium);
  color: var(--secondaryColor);
  line-height: 15.6px;
}

.modalProfile-follow-card .follow-btn {
  padding: 9.5px 4px;
  border: 1px solid #eb3349;
  border-radius: 14px;
  background-color: transparent;
  display: inline-block;
  font-size: 14px;
  line-height: 16.8px;
  font-family: var(--Poppins-Medium);
  color: #eb3349;
  width: 100%;
  max-width: 107px;
  margin-left: 5px;
}

.modalProfile-follow-card .follow-btn2 {
  background-color: #eb3349;
  color: var(--white);
}

/* ==== modal Follow Section End ==== */

/* ==== modal Transaction Section Strat ==== */

.modalProfile-transaction-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.modalProfile-transaction-card-title h6 {
  font-size: 14px;
  color: var(--secondaryColor);
  font-family: var(--Poppins-Medium);
  margin-bottom: 0;
}
.modalProfile-transaction-card-title span {
  font-size: 12px;
  font-family: var(--Poppins-Medium);
  line-height: 14.4px;
  color: rgba(0, 0, 0, 0.7);
}

.modalProfile-transaction-card span.text {
  font-family: var(--Poppins-SemiBold);
  font-size: 14px;
  display: inline-block;
}

.modalProfile-transaction-card span.text.green-text {
  color: #1b7e44;
}

.modalProfile-transaction-card span.text.red-text {
  color: #e25858;
}

/* ==== modal Transaction Section End ==== */

/* ==== modal Subscribe Section Start ==== */

.subscribe-tab-section .nav {
  padding: 10px 15px;
  background: linear-gradient(to top right, #eb33491a, #f45c431a);
  border: none;
  border-radius: 14px;
  margin-bottom: 20px;
}

.subscribe-tab-section .nav button {
  flex: 1 1 auto;
  border-radius: 10px;
  font-size: 14px;
  font-family: var(--Poppins-Medium);
  color: var(--secondaryColor);
  border: none;
  padding: 13px 10px;
}
.subscribe-tab-section .nav button.active {
  background: linear-gradient(to top right, #eb3349, #f45c43);
  color: var(--white);
}

.profileCard.userPlanCard {
  padding: 24px;
}

.subscribe-planCard {
  padding: 16px;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.03);
  margin-bottom: 14px;
}
.subscribe-planCard:last-child {
  margin-bottom: 0;
}

.subscribe-planCard-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-planCard-title img {
  width: 23px;
  height: 20px;
  margin-right: 6px;
}

.subscribe-planCard-title h6 {
  margin-bottom: 0;
  font-size: 18px;
  font-family: var(--Poppins-SemiBold);
  color: var(--secondaryColor);
  line-height: 1.5;
}

.subscribe-planCard-title-section span {
  font-family: var(--Poppins-Medium);
  font-size: 18px;
  color: #64748b;
  display: inline-block;
  margin-top: 4px;
  text-transform: uppercase;
}

.subscribe-planCard-price {
  font-size: 18px;
  font-family: var(--Poppins-SemiBold);
  color: #0f172a;
  line-height: 1.5;
  margin-bottom: 0;
}

.mostpopularplan-card {
  background: #eb3349;
  border-radius: 16px;
  padding: 6px 3px 3px;
  margin-bottom: 14px;
}

.mostpopularplan-card .mostpopularplan-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 6px;
}

.mostpopularplan-card-title h4 {
  font-size: 18px;
  font-family: var(--Poppins-SemiBold);
  color: var(--white);
  margin-bottom: 0;
  line-height: 1.5;
}

.mostpopularplan-card-title span {
  font-size: 18px;
  font-family: var(--Poppins-SemiBold);
  color: var(--white);
  margin-bottom: 0;
  line-height: 1.5;
}

.mostpopularplan-card .subscribe-planCard {
  margin-bottom: 0;
  background-color: var(--white);
  box-shadow: none;
}

.subscribe-planCard-info-message {
  padding: 12px 24px;
  color: #1d1d1d;
  font-size: 18px;
  font-family: var(--Poppins-SemiBold);
  border-radius: 8px;
  background: #f2f2f2;
  margin: 16px auto 30px;
  max-width: 545px;
  text-align: center;
}

.purchase-accordion .accordion-item {
  border-radius: 14px !important;
  overflow: hidden;
  padding: 16px 24px;
  background: #c4a34433;
  border: none;
}

.purchase-accordion .accordion-header .accordion-button {
  padding: 0;
  justify-content: space-between !important;
  background-color: transparent !important;
  box-shadow: none !important;
  font-size: 18px;
  font-family: var(--Poppins-SemiBold);
}

.accordion-button::after {
  display: none !important;
}

.accordion-button span {
  transition: all 0.3s ease-in-out;
}

.accordion-button:not(.collapsed) span {
  transform: rotate(90deg);
}

.purchase-accordion .accordion-body {
  padding: 0;
  margin-top: 10px;
}

.purchaseAd-ons-select-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 14px;
}

.purchaseAd-ons-select-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 20px 22px;
  cursor: pointer;
}

.purchaseAd-ons-select-card .purchaseAd-ons-select-title-section {
  display: flex;
  align-content: center;
  justify-content: center;
}

.purchaseAd-ons-select-card .purchaseAd-ons-select-title-section img {
  width: 100%;
  max-width: 30px;
  min-width: 30px;
  height: 27px;
  margin-right: 13px;
}

.purchaseAd-ons-select-card .purchaseAd-ons-select-title-section span {
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  display: inline-flex;
  align-items: center;
  line-height: 14.4px;
}

.purchaseAd-ons-select-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchaseAd-ons-select-input h5 {
  font-size: 16px;
  font-family: var(--Poppins-SemiBold);
  line-height: 24px;
  color: var(--secondaryColor);
  margin-right: 8px;
  margin-bottom: 0;
}

.purchase-accordion input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  padding-left: 20px;
}

.purchase-accordion input::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--secondaryColor);
}
.purchase-accordion input::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.purchase-accordion input:checked::after {
  opacity: 1;
}

.giftPurchase-accordion {
  margin-top: 30px;
}

.giftPurchase-accordion .accordion-item {
  background-color: #feedec;
}

.purchaseAd-ons-select-card .purchaseAd-ons-select-title-section img.giftIcon {
  width: 100%;
  max-width: 39px;
  min-width: 39px;
  height: 41px;
  margin-right: 13px;
}
.purchaseAd-ons-select-card .purchaseAd-ons-select-title-section img.GlassIcon {
  width: 100%;
  max-width: 39px;
  min-width: 39px;
  height: 41px;
  margin-right: 13px;
}

/* ==== modal Subscribe Section End ==== */

/* ==== Boost Stream Modal Strat ====  */

#boostStreammodal .modal-content {
  border: none;
  max-width: 494px;
  border-radius: 22px;
  background: var(--white);
  overflow-y: auto;
}

#boostStreammodal .modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  padding: 24px;
}

#boostStreammodal .modal-header .boostStremModalHeader-icon {
  width: 100%;
  max-width: 74px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eb334933;
}

#boostStreammodal .modal-header button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 24px;
  top: 24px;
}

#boostStreammodal .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 24px 24px;
}

#boostStreammodal .modal-body .modal-title {
  font-family: var(--Poppins-SemiBold);
  font-size: 22px;
  line-height: 26.4px;
  color: var(--secondaryColor);
  margin-bottom: 15px;
}

#boostStreammodal .modal-body .modal-text {
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
  line-height: 18px;
}

#boostStreammodal .modal-footer {
  padding: 24px;
  border: none;
}

.modal-btn-1 {
  padding: 17px 12px;
  margin: 0px !important;
  width: 100%;
  flex: 1 1 auto;
  border: none;
  background: linear-gradient(to top right, #eb3349, #f45c43);
  border-radius: 14px;
  font-size: 14px;
  font-family: var(--Poppins-Medium);
  color: var(--white);
  line-height: 16.8px;
  transition: all 0.5s ease-in-out;
}

.modal-btn-1:hover {
  background: linear-gradient(to bottom left, #eb3349, #f45c43);
}

.modal-btn-2 {
  padding: 17px 12px;
  margin: 0px !important;
  width: 100%;
  flex: 1 1 auto;
  border: none;
  background: #d5d5d5;
  border-radius: 14px;
  font-size: 14px;
  font-family: var(--Poppins-Medium);
  color: #4d4d4d;
  line-height: 16.8px;
  transition: all 0.5s ease-in-out;
}

/* ==== Boost Stream Modal End ====  */

/* ==== live Stream Settings Modal Start ====  */

#liveStreamSettings.offcanvas-backdrop.show {
  opacity: 0.3;
  backdrop-filter: blur(10px);
  filter: blur(10px);
}

.offcanvas.offcanvas-end {
  border-radius: 14px 0 0 14px;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-right: none !important;
  --bs-offcanvas-width: 480px;
  overflow-y: auto;
}
.offcanvas.offcanvas-end::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.offcanvas-header {
  padding: 38px 38px 29px !important;
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 999;
}

.offcanvas-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-right: 8px;
}

.offcanvas-header .offcanvas-title {
  font-size: 20px;
  font-family: var(--Poppins-SemiBold);
  color: var(--secondaryColor);
}

.offcanvas-body {
  padding: 0 38px !important;
}

#liveStreamSettings .offcanvas-main-input-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 18px;
  margin: 0 0 26px;
  border-bottom: 1px solid #ebebeb;
  padding-top: 5px;
}
#liveStreamSettings .offcanvas-main-input-section .input-section {
  width: 100%;
}

.offcanvas-main-input-section.radio-input-section {
  justify-content: flex-start;
}

.offcanvas-main-input-section.radio-input-section .input-section div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.offcanvas-main-input-section.radio-input-section
  .input-section
  div:last-child {
  margin-bottom: 0;
}

.offcanvas-main-input-section.radio-input-section .input-section div input {
  width: auto;
}

.offcanvas-main-input-section.radio-input-section .input-section div label {
  position: static;
  font-size: 14px;
  font-family: var(--Poppins-Medium);
  color: rgba(0, 0, 0, 0.8);
}

.offcanvas-main-input-section.radio-input-section .input-section div input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  padding: 0;
  padding-left: 20px;
  border: none;
}

.offcanvas-main-input-section.radio-input-section
  .input-section
  div
  input::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #f45c43;
}
.offcanvas-main-input-section.radio-input-section
  .input-section
  div
  input::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: linear-gradient(to top right, #eb3349, #f45c43);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.offcanvas-main-input-section.radio-input-section
  .input-section
  div
  input:checked::after {
  opacity: 1;
}

#liveStreamSettings .offcanvas-checkBox-section {
  display: flex;
  align-items: flex-start;
}

#liveStreamSettings .offcanvas-checkBox-section:last-child {
  padding: 18px 0 0;
  margin: 18px 0 0;
  border-top: 1px solid #ebebeb;
}

#liveStreamSettings
  .offcanvas-checkBox-section
  .offcanvas-checkBox-title-section {
  margin-right: 12px;
}

#liveStreamSettings
  .offcanvas-checkBox-section
  .offcanvas-checkBox-title-section
  h4 {
  font-size: 14px;
  font-family: var(--Poppins-Medium);
  color: var(--secondaryColor);
  margin-bottom: 4px;
}

#liveStreamSettings
  .offcanvas-checkBox-section
  .offcanvas-checkBox-title-section
  p {
  font-size: 12px;
  font-family: var(--Poppins-Regular);
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}

.checkbox-section .checkbox-icon {
  position: relative;
  width: 100%;
  max-width: 30px;
  min-width: 30px;
  height: 16px;
  border-radius: 8px;
  background-color: #d5d5d5;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.checkbox-section .checkbox-icon span {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d5d5d5;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: auto;
  transition: all 0.3s ease-in-out;
}

.checkbox-section .checkbox-icon span::before {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 7px;
  min-width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--white);
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.checkbox-section input[type="checkbox"]:checked ~ .checkbox-icon {
  background: #fbd6db;
}

.checkbox-section input[type="checkbox"]:checked ~ .checkbox-icon span {
  background: linear-gradient(to top right, #eb3349, #f45c43);
  left: 10px;
}

.offcanvas-body-footer {
  padding: 30px 38px;
}

.liveStreamSettings-bottom-side .modal-btn-2 {
  margin-top: 12px !important;
}

/* ==== live Stream Settings Modal End ====  */

/* ==== End Streming Modal Strat ====  */

#endStreamingModal .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 24px 24px 0px;
}

#endStreamingModal .modal-body .modal-title {
  font-family: var(--Poppins-SemiBold);
  font-size: 22px;
  line-height: 26.4px;
  color: var(--secondaryColor);
  margin-bottom: 15px;
}

#endStreamingModal .modal-body .modal-text {
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
  line-height: 18px;
}

.endStreamingModal-btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 330px;
  gap: 9px;
  margin: auto;
  margin-top: 30px;
}

#endStreamingModal .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 24px;
  border: none;
}

#endStreamingModal .modal-footer button {
  font-size: 14px;
  font-family: var(--Poppins-Medium);
  background: linear-gradient(to top right, #eb3349, #f45c43);
  border: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

#endStreamingModal .modal-footer button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(to top right, #eb3349, #f45c43);
  top: auto;
  left: 0;
  right: 0;
  bottom: -4px;
  transition: all 0.3s ease-in;
}

#endStreamingModal .modal-footer button:hover::before {
  bottom: -2px;
}

/* ==== End Streming Modal End ====  */

/* ==== Gift Senders Modal Start ====  */

.giftSenders-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  width: 100%;
  border-radius: 16px;
  background-color: #eb334933;
}

.giftSenders-card.giftSenders-card-2 {
  background-color: #f45c4333;
}

.giftSenders-card .giftSenders-card-left-side .icon {
  width: 100%;
  max-width: 42px;
  min-width: 42px;
  height: 42px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.giftSenders-card .giftSenders-card-right-side {
  width: 100%;
}
.giftSenders-card .giftSenders-card-right-side h6 {
  font-size: 11px;
  font-family: var(--Poppins-Regular);
  color: rgba(0, 0, 0, 0.7);
  line-height: 16.8px;
  margin-bottom: 0;
}

.giftSenders-card .giftSenders-card-right-side h5 {
  font-size: 14px;
  font-family: var(--Poppins-Medium);
  color: var(--secondaryColor);
  line-height: 19.2px;
  margin-bottom: 0;
}

#giftSenders-viewerSummaryModal .offcanvas-body {
  padding: 0 !important;
}

#giftSenders-viewerSummaryModal .offcanvas-body .card-section {
  padding: 0 38px;
}

.summaryList-section {
  background-color: #f4f4f4;
  margin-top: 20px;
  padding: 20px 38px;
}

.user-summary-list {
  max-height: 408px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.user-summary-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.user-summary-list .user-summary-item {
  margin-bottom: 12px;
}

.user-summary-list .user-summary-item:last-child {
  margin-bottom: 0;
}

.user-summary-list .user-summary-item .user-summary-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.user-summary-link .user-profile-img {
  width: 100%;
  max-width: 34px;
  min-width: 34px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.user-summary-link .user-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.user-summary-link .user-summary-details-section {
  width: 100%;
}

.user-summary-link .user-summary-details-section h5 {
  font-size: 13px;
  font-family: var(--Poppins-Medium);
  line-height: 15.6px;
  margin-bottom: 0;
  color: var(--secondaryColor);
}

.user-summary-link .user-summary-details-section p {
  font-size: 11px;
  font-family: var(--Poppins-Regular);
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  display: flex;
  align-items: center;
}
.user-summary-link .user-summary-details-section p img {
  margin: 0 2px;
}

.user-summary-link .user-summary-details-section p .coinImage {
  width: 100%;
  max-width: 14.26px;
  min-width: 14.26px;
  height: 12.18px;
}

.user-summary-link .user-summary-details-section p .giftIconimg {
  width: 100%;
  max-width: 13px;
  min-width: 13px;
  height: 14px;
}

/* ==== Gift Senders Modal End ====  */

.input-section.radio-btn-main-section {
  padding: 12px 20px;
}

/* ==== Payment Varifiction Modal Strat ==== */

#verificationPaymentModal .modal-content {
  border: none;
  max-width: 530px;
  border-radius: 22px;
  background: var(--white);
  overflow-y: auto;
}

#verificationPaymentModal .modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  padding: 24px;
}

#verificationPaymentModal .modal-header .boostStremModalHeader-icon {
  width: 100%;
  max-width: 74px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eb334933;
}

#verificationPaymentModal .modal-header button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 24px;
  top: 24px;
}

#verificationPaymentModal .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 24px 24px;
}

#verificationPaymentModal .modal-body .modal-title {
  font-family: var(--Poppins-SemiBold);
  font-size: 22px;
  line-height: 26.4px;
  color: var(--secondaryColor);
  margin-bottom: 15px;
}

#verificationPaymentModal .modal-body .modal-text {
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
  line-height: 18px;
}

#verificationPaymentModal .modal-footer {
  padding: 24px 24px 35px;
  border: none;
}

.payment-verify-otpboxs-section {
  width: 100%;
  margin-top: 15px;
}

#verificationPaymentModal .modal-footer .modal-btn-1 {
  max-width: 375px;
  margin: auto !important;
}

/* ==== Payment Varifiction Modal End ==== */

/* ===Media-quary=== */

@media only screen and (max-width: 1399px) {
  .subscribe-planCard-title h6 {
    font-size: 16px;
  }
  .subscribe-planCard-title-section span {
    font-size: 16px;
  }

  .subscribe-planCard-price {
    font-size: 16px;
  }
  .mostpopularplan-card-title h4,
  .mostpopularplan-card-title span {
    font-size: 16px;
  }

  .subscribe-planCard-info-message {
    font-size: 16px;
    padding: 10px 20px;
  }

  .purchase-accordion .accordion-header .accordion-button {
    font-size: 16px;
  }

  .profileCard.profileCard-mainCard
    .profileCard-mainCard-header
    .profileCard-mainCard-header-img {
    max-width: 100px;
  }
}

@media only screen and (max-width: 1299px) {
  .profileCard.profileCard-mainCard
    .profileCard-mainCard-header
    .profileCard-mainCard-header-img {
    max-width: 90px;
  }
  .payment-verify-otpboxs-section .outpbox-section .otpboxs {
    max-width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 1199px) {
  .modalProfile-banner-left h4 {
    font-size: 30px;
  }

  .modalProfile-banner-left h4 a {
    padding: 5px 12px;
    font-size: 13px;
    margin-left: 14px;
  }

  .profileCard.profileCard-mainCard
    .profileCard-mainCard-header
    .profileCard-mainCard-header-img {
    max-width: 85px;
  }
}

@media only screen and (max-width: 1024px) {
  .modalProfile-right-side-card {
    padding: 20px 25px;
  }

  .profileCard-mainCard-header .EditProfileBtn {
    max-width: 140px;
    padding: 12px;
  }
}

@media only screen and (max-width: 991px) {
  .profile-card-link-section {
    flex-direction: column;
    justify-content: flex-start;
  }

  .profile-card-link-section .profile-card-link:last-child {
    margin-left: 0px;
    padding-left: 0px;
    position: static;
  }

  .profile-card-link-section .profile-card-link:last-child::after {
    display: none;
  }

  .profile-links-list .profile-links-items a span.link-title svg {
    margin-right: 8px;
  }

  .profile-links-list .profile-links-items a span.link-title span {
    font-size: 15px;
  }

  .profileCard-mainCard-body .profile-card-link-section {
    flex-direction: row;
  }

  .profileCard-mainCard-body
    .profile-card-link-section
    .profile-card-link:last-child {
    margin-left: 6px;
    padding-left: 6px;
    position: relative;
  }

  .profileCard-mainCard-body
    .profile-card-link-section
    .profile-card-link:last-child::after {
    display: block;
  }

  .modalProfile-right-side-card {
    padding: 10px 15px;
  }

  .modalProfile-Galaryright-side-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .modalProfile-banner-right .modalProfile-banner-img {
    max-width: 115px;
  }

  .modalProfile-banner-left h4 {
    font-size: 24px;
  }

  .modalProfile-banner-left h4 a {
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 11px;
  }

  .modalProfile-paymentright-side .modalProfile-right-side-card {
    padding: 25px 15px;
  }

  .profileCard-mainCard-header .EditProfileBtn {
    max-width: 120px;
    padding: 11px;
    font-size: 15px;
  }

  .profileCard.profileCard-mainCard
    .profileCard-mainCard-header
    .profileCard-mainCard-header-img {
    max-width: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .profileCard.profile-mian-card {
    margin-bottom: 0px;
  }

  .modalProfile-right-side.modalProfile-paymentright-side
    .fromSubmit-btn-section {
    justify-content: center;
  }
}

@media only screen and (max-width: 575px) {
  .profile-links-list .profile-links-items a span.link-title span {
    font-size: 14px;
  }

  .modalProfile-follow-card .follow-btn {
    font-size: 13px;
  }

  .profileCard.userPlanCard {
    padding: 12px;
  }

  .mostpopularplan-card-title h4,
  .mostpopularplan-card-title span {
    font-size: 14px;
  }
  .subscribe-planCard-title h6,
  .subscribe-planCard-title-section span {
    font-size: 14px;
  }

  .subscribe-planCard-info-message {
    font-size: 14px;
    padding: 10px 14px;
  }

  .offcanvas.offcanvas-end {
    --bs-offcanvas-width: 380px;
  }

  .offcanvas-header {
    padding: 38px 15px 29px !important;
  }

  .offcanvas-body {
    padding: 0 15px !important;
  }

  .offcanvas-header .offcanvas-title {
    font-size: 18px;
    line-height: 1.2;
  }

  #giftSenders-viewerSummaryModal .offcanvas-body .card-section {
    padding: 0 20px;
  }

  .offcanvas-body-footer {
    padding: 30px 15px;
  }

  .profileCard.profileCard-mainCard {
    padding: 8px 12px;
  }

  .profileCard-mainCard-header .EditProfileBtn {
    max-width: 103px;
    padding: 10px;
    font-size: 14px;
  }

  .profileCard.profileCard-mainCard
    .profileCard-mainCard-header
    .profileCard-mainCard-header-img {
    max-width: 70px;
  }

  #boostStreammodal .modal-header .boostStremModalHeader-icon {
    max-width: 60px;
  }
  #boostStreammodal .modal-header .boostStremModalHeader-icon svg {
    width: 35px;
    height: 35px;
  }

  #verificationPaymentModal .modal-header .boostStremModalHeader-icon {
    max-width: 60px;
  }
  #verificationPaymentModal .modal-header .boostStremModalHeader-icon svg {
    width: 35px;
    height: 35px;
  }

  .payment-verify-otpboxs-section .outpbox-section .otpboxs {
    max-width: 55px;
    height: 55px;
  }
}

@media only screen and (max-width: 375px) {
  .profileCard-mainCard-body .profile-card-link-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .profileCard-mainCard-body
    .profile-card-link-section
    .profile-card-link:last-child {
    margin-left: 0px;
    padding-left: 0px;
    position: static;
  }

  .profileCard-mainCard-body
    .profile-card-link-section
    .profile-card-link:last-child::after {
    display: none;
  }

  .modalProfile-GalaryRight-img .play-icon {
    top: 0px;
    right: 4px;
  }

  .modalProfile-GalaryRight-img .play-icon svg {
    width: 10px;
    height: 12px;
  }

  .modalProfile-banner-left h4 a {
    padding: 3px 8px;
    font-size: 10px;
    margin-left: 7px;
  }

  .modalProfile-banner-left p {
    font-size: 12px;
  }

  .modalProfile-banner {
    padding: 10px 15px;
  }
  .modalProfile-banner-left h4 {
    font-size: 18px;
  }
  .modalProfile-banner-right .modalProfile-banner-img {
    max-width: 92px;
  }

  .purchase-accordion .accordion-item {
    padding: 14px 18px;
  }

  .purchaseAd-ons-select-card {
    padding: 12px 15px;
  }

  .purchaseAd-ons-select-input h5 {
    font-size: 14px;
    margin-right: 5px;
  }

  .offcanvas.offcanvas-end {
    --bs-offcanvas-width: 300px;
  }

  .offcanvas-header .offcanvas-title {
    font-size: 15px;
    line-height: 1.2;
  }

  .modalProfile-Galaryright-side-card {
    gap: 8px;
  }

  #boostStreammodal .modal-body .modal-title {
    font-size: 18px;
  }
  #boostStreammodal .modal-body .modal-text {
    font-size: 12px;
  }

  #verificationPaymentModal .modal-body .modal-title {
    font-size: 18px;
  }
  #verificationPaymentModal .modal-body .modal-text {
    font-size: 12px;
  }

  #verificationPaymentModal .modal-body {
    padding: 0 12px 0px;
  }
  .payment-verify-otpboxs-section .outpbox-section .otpboxs {
    max-width: 40px;
    height: 40px;
  }
}
