.notification-card-section .modalProfile-right-side-card {
  padding: 0;
  overflow: hidden;
}

.notification-list {
  padding: 24px;
  border: 1px solid #e2e8f0;
  border-top: none;
  border-bottom: none;
}

.modalProfile-follow-list.notification-list li {
  margin-bottom: 4px;
  padding: 16px 0;
  border-bottom: 1px solid #f1f5f9;
}

.modalProfile-follow-list.notification-list li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.modalProfile-follow-list.notification-list li .notifiction-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.notifiction-card .notifiction-profileImg {
  width: 100%;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: #ffccd8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifiction-card .notifiction-profileImg p {
  margin-bottom: 0;
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  vertical-align: middle;
}

.notifiction-card .notifiction-profileImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.notifiction-card .notifiction-profileImg span {
  width: 14px;
  height: 14px;
  border: 2.5px solid var(--white);
  background-color: #46d31b;
  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  right: 0px;
}

.notifiction-card .notifiction-Profile-details {
  width: 100%;
}

.notifiction-card .notifiction-Profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notifiction-card .notifiction-Profile-title h6 {
  font-family: var(--Poppins-SemiBold);
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 0;
  color: #0f172a;
  margin-right: 8px;
}

.notifiction-card .notifiction-Profile-title span {
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  line-height: 1.7;
  color: #64748b;
}

.notifiction-Profile-details p {
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  line-height: 1.7;
  color: #565656;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  margin: 0;
}
.notifiction-Profile-details p img {
  width: 100%;
  max-width: 18.21px;
  min-width: 18.21px;
  height: 19.92px;
  object-fit: contain;
}

/* =================== Message Report Modal Start =================== */

.report-modal .modal-content {
  max-width: 504px;
  padding: 40px 30px;
  border-radius: 22px;
  border: none;
}
.report-modal .modal-content .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 30px;
  border: none;
}
.report-modal .modal-content .modal-header button {
  width: 100%;
  max-width: 22px;
  min-width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
}
.report-modal .modal-content .modal-header h3 {
  width: 100%;
  text-align: center;
  font-family: var(--Poppins-SemiBold);
  font-size: 20px;
  color: var(--secondaryColor);
  margin-bottom: 0;
}

.report-modal .modal-content .modal-body {
  padding: 0 0 20px;
}
.report-modal .modal-content .modal-body .modal-body-text {
  font-family: var(--Poppins-Regular);
  font-size: 14px;
  line-height: 1.6;
  color: #0f172a;
  text-align: center;
  margin-bottom: 25px;
}

.tabs-button-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 6px;
  row-gap: 8px;
  margin-bottom: 25px;
}

.tabs-button-section .tabs-button {
  flex: 1 1 auto;
  padding: 10px 15px;
  font-family: var(--Poppins-SemiBold);
  font-size: 14px;
  color: #0f172a;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  background-color: transparent;
  max-width: max-content;
  transition: all 0.3s ease-in-out;
}
.tabs-button-section .tabs-button.active {
  background-color: var(--primaryColor);
  color: var(--white);
}

.report-modal .modal-content .modal-body .options-report-input {
  padding: 12px 16px;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  width: 100%;
  margin-bottom: 18px;
  font-size: 12px;
  color: #64748b;
  line-height: 1.7;
  font-family: var(--Poppins-Regular);
  outline: none;
}

.report-modal .modal-content .modal-body .modal-bodyFooter-text {
  max-width: 327px;
  font-family: var(--Poppins-Medium);
  font-size: 14px;
  line-height: 1.6;
  color: var(--secondaryColor);
  margin: auto;
  text-align: center;
}
.report-modal .modal-content .modal-body .modal-bodyFooter-text a {
  color: var(--primaryColor);
}
.report-modal .modal-content .modal-footer {
  padding: 0;
  border: none;
  gap: 12px;
}
.report-modal .modal-content .modal-footer button {
  margin: 0;
}

/* =================== Message Report Modal End =================== */

@media only screen and (max-width: 1440px) {
  .report-modal .modal-content {
    padding: 20px 30px;
  }
  .report-modal .modal-content .modal-header {
    padding: 0 0 20px;
  }
  .report-modal .modal-content .modal-body .modal-body-text {
    margin-bottom: 14px;
  }
  .tabs-button-section{
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .report-modal .modal-content {
    padding: 25px;
  }
  .tabs-button-section {
    margin-bottom: 20px;
  }
  .tabs-button-section .tabs-button {
    padding: 8px 12px;
  }
}

@media only screen and (max-width: 575px) {
  .report-modal .modal-content .modal-header {
    padding: 0 0 20px;
  }

  .report-modal .modal-content .modal-header h3 {
    font-size: 18px;
  }

  .report-modal .modal-content {
    padding: 18px 14px;
  }
  .report-modal .modal-content .modal-body .modal-body-text {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .tabs-button-section .tabs-button {
    padding: 8px;
    font-size: 12px;
    border-radius: 12px;
  }
  .report-modal .modal-content .modal-body .options-report-input {
    padding: 10px 14px;
  }
  .report-modal .modal-content .modal-body .modal-bodyFooter-text {
    font-size: 12px;
  }
}
